body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: beige;
    font-family: Oxygen, sans-serif;
  }

  .outer {
    width: 295px;
    height: 170px;
    margin: 5%;
    border: 10px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
}

  .scoreboard {
    width: 275px;
    border-style: hidden;
    border-width: 20px;
    height: 150px;
    align-items: center;
    background: linear-gradient(-60deg, #46404f 53%, #4B4452 53%);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

  .team {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 10pt;
    color: white;
    letter-spacing: 1px;
    padding-left: 10px;
  }
  .team .name {
    width: 52px;
    flex-shrink: 0;
    justify-content: center;
    letter-spacing: 2px;
  }
  .team:nth-child(1) .rank {
    border-top-left-radius: 20px;
  }
  .team:nth-child(3) .rank {
    border-bottom-left-radius: 20px;
  }
  .team .rank {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
    flex-shrink: 0;
  }
  .team .logo {
    width: 50px;
    margin: 25px;
  }
  .team .score {
    flex-shrink: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 2px;
  }
  .team .record {
    font-size: 16pt;
    color: #746f7f;
    padding: 1px;
    margin-right: 30px;
  }
  
  .divider {
    height: 1px;
    width: 275px;
    position: absolute;
    margin-left: 0px;
    font-size: 10pt;
    color: white;
  }
  .divider::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 190px;
    background-color: #746f7f;
  }
  .divider::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 20px;
    right: 0;
    top: 0;
    background-color: #746f7f;
  }
  .divider p {
    font-weight: bold;
    position: absolute;
    left: 200px;
    bottom: -25px;
  }
  
  .gsw .rank {
    background-color: #EABF4F;
    color: #4B4452;
  }
  .win .score {
    color: #EABF4F;
  }
  .win .record {
    color: white;
    border-bottom: 2px solid #EABF4F;
  }

  .win .team {
    color: #EABF4F
  }
  
  .utc .rank {
    background-color: #072242;
  }
  .lose .score {
    color: white
  }
  .lose .record {
    color: white;
    border-bottom: 2px solid #072242;
  }

  .lose .team {
    color: white
  }
  
  .subtitle {
    margin: 20px;
    color: #31283C;
  }
  
  b {
    font-weight: bold;
  }